<a href="https://colab.research.google.com/github/AnandaTryMuhtiga/praktikum-basis-data/blob/main/Bab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ“˜ BAB 3 â€“ DATA DEFINITION LANGUAGE (DDL) â€” Versi lebih jelas & terstruktur

Dokumen ini merapikan dan memperjelas materi Bab 3 tentang DDL (Data Definition Language) di MySQL. Disusun supaya mudah dibaca oleh praktikan dan bisa langsung digunakan sebagai catatan atau materi ajar.


3.1 IDENTITAS

Kompetensi yang diharapkan

1. Praktikan memahami perintah-perintah dasar SQL (terutama DDL).


2. Praktikan mampu membuat tabel yang benar dan menata relasinya (constraint/foreign key).


3. Praktikan memahami engine tabel (InnoDB) serta konsep nilai otomatis dan default.



Topik

Pengenalan SQL

Membuat tabel (CREATE TABLE)

Constraint relasi (PRIMARY KEY, FOREIGN KEY, dsb.)

Nilai otomatis (AUTO_INCREMENT) dan nilai default (DEFAULT)



3.2 TEST AWAL â€” Ringkasan Perintah Dasar DDL pada MySQL

Dokumen ini menyertakan contoh perintah penting yang sering ditanyakan pada test awal, beserta penjelasan singkat.

1. Membuat Database

Perintah CREATE DATABASE menyiapkan ruang kerja baru di server MySQL â€” tempat menyimpan tabel, index, dan data.

CREATE DATABASE nama_database;

Tujuan: Menginisialisasi sebuah database sebelum membuat tabel atau memasukkan data.


2. Menampilkan Semua Database

Gunakan SHOW DATABASES untuk melihat daftar database yang ada pada server MySQL.

SHOW DATABASES;

Tujuan: Memverifikasi database yang sudah dibuat dan melihat database bawaan MySQL.


3. Memilih Database yang Akan Dipakai

Sebelum membuat tabel atau mengeksekusi query, pilih database target dengan USE.

USE nama_database;

Tujuan: Mengatur konteks agar semua perintah SQL berikutnya berjalan pada database yang dipilih.


4. Menghapus Database

Perintah DROP DATABASE menghapus seluruh database beserta semua tabel dan isi datanya â€” tidak dapat dibatalkan.

DROP DATABASE nama_database;

Peringatan: Gunakan dengan hati-hati karena penghapusan permanen.


3.3 Klasifikasi Perintah SQL (Gambaran Umum)

SQL umumnya dibagi menjadi tiga kelompok utama:

1. DDL â€” Data Definition Language (Pendefinisian Struktur)

Perintah yang mengatur struktur database dan tabel.

CREATE â€” membuat database / tabel / index

ALTER â€” mengubah struktur tabel (tambah/ubah/hapus kolom)

RENAME â€” mengganti nama tabel

DROP â€” menghapus tabel atau database


2. DML â€” Data Manipulation Language (Manipulasi Data)

Perintah untuk bekerja dengan data baris/record.

SELECT â€” mengambil data

INSERT â€” menambah data

UPDATE â€” mengubah data

DELETE â€” menghapus data


3. DCL â€” Data Control Language (Kontrol Akses)

Perintah manajemen hak akses pengguna.

GRANT â€” memberikan hak akses

REVOKE â€” mencabut hak akses



3.4 (Ringkasan) ALTER / MODIFY / DROP / RENAME â€” Contoh & Penjelasan

Mengubah tipe data kolom (MODIFY)


ALTER TABLE customer
MODIFY nama_customer VARCHAR(100);

Menambah kolom sekaligus mengubah kolom lain


ALTER TABLE customer
ADD email VARCHAR(50),
MODIFY nama_customer VARCHAR(150);

Menghapus tabel


DROP TABLE order_detail;

Mengganti nama tabel


RENAME TABLE orders TO transaksi;

> Jika ingin dibuat versi formal (dengan cover, heading bab, atau modul README lengkap), saya bisa susun.



3.5 Constraint Tabel â€” Contoh struktur order_detail (relasi & kunci)

Contoh fragmen definisi tabel dengan beberapa constraint penting:

CREATE TABLE order_detail (
  order_num INT,
  order_item INT,
  prod_id CHAR(10),
  quantity INT,
  item_price DECIMAL(10,2),
  PRIMARY KEY (order_num, order_item),
  FOREIGN KEY (order_num) REFERENCES orders(order_num),
  FOREIGN KEY (prod_id) REFERENCES products(prod_id)
);

Penjelasan singkat:

PRIMARY KEY (order_num, order_item) â€” composite key: kombinasi kedua kolom unik untuk tiap baris.

FOREIGN KEY â€” menjaga integritas referensial: order_num harus ada di tabel orders, prod_id harus ada di tabel products.



3.6 Nilai Otomatis & Nilai Default

3.6.1 AUTO_INCREMENT

Digunakan untuk menghasilkan nilai unik otomatis (biasanya untuk kolom PRIMARY KEY bertipe integer).

CREATE TABLE Mahasiswa2 (
  ID INT(5) NOT NULL PRIMARY KEY AUTO_INCREMENT,
  NIM CHAR(8) NOT NULL,
  Nama_Mhs VARCHAR(50),
  Jurusan VARCHAR(200),
  Fakultas VARCHAR(30)
);

Catatan: Hanya boleh ada satu kolom AUTO_INCREMENT per tabel (pada MySQL konvensional) dan biasanya dipakai untuk primary key.

3.6.2 DEFAULT â€” Nilai Bawaan

Memberi nilai default jika saat INSERT kolom tersebut tidak diberi nilai.

CREATE TABLE Mtkul (
  Kode_Mtkul INT(5) NOT NULL PRIMARY KEY,
  Nama_Mtkul VARCHAR(30),
  Sks INT(1) DEFAULT 0,
  Semester INT(1) DEFAULT 0
);

Manfaat: Menghindari NULL atau kesalahan saat nilai tidak disediakan, serta menyederhanakan INSERT.


3.7 Storage Engine: InnoDB & XtraDB

InnoDB (MySQL)

Engine default MySQL sejak v5.5.

Mendukung foreign key (integrity) dan transaksi (COMMIT, ROLLBACK).

Memiliki fitur crash-recovery.

Penggunaan memori relatif lebih besar, namun aman untuk aplikasi produksi.


XtraDB (MariaDB)

Varian/peningkat InnoDB pada beberapa versi MariaDB.

Klaim stabilitas dan performa yang ditingkatkan pada kondisi tertentu.


Menentukan engine saat membuat tabel

CREATE TABLE contoh (
  id INT PRIMARY KEY
) ENGINE=InnoDB